* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating {
  display: flex;
  justify-content: center;
}
.rating i {
  color: black;
  font-size: 5rem;
  padding: 1rem;
}
.rating i.active {
  color: yellow;
}
.rating-text {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}
.rate {
  color: black;
}
